
header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  
  display: flex;
  justify-content: space-between;
  padding: 1rem;
 
 
}

img {
  margin-top: 1rem;
  max-width: 100%;
}

section {
  width: 45%;
}

h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
}

